# .gitignore for HMS C# .NET Core 2 solution

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build directories
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Pp]ackages/
[Bb]in/
[Oo]bj/
[Ll]og/
TestResults/

# Visual Studio 2015 cache/options directory
.vs/

*.suo

# Database files
*.db
*.sqlite3
*.sqlite
*.zip
test_reports/

# Exception Logs
exception_log.txt

