<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI.AQUATOX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GUI.AQUATOX.Properties.Settings>
            <setting name="MS_Directory" serializeAs="String">
                <value>..\2D_Inputs\SampleProject\</value>
            </setting>
            <setting name="BrowserExe" serializeAs="String">
                <value />
            </setting>
            <setting name="HAWQS_apikey" serializeAs="String">
                <value />
            </setting>
        </GUI.AQUATOX.Properties.Settings>
    </userSettings>
</configuration>