<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AQUATOX" version="1.0.0" targetFramework="net462" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net462" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net462" />
  <package id="HMSData" version="1.0.0" targetFramework="net462" />
</packages>